<!DOCTYPE html>
<html>
<head>
	<title>Employee Register page</title>
</head>
<body>
	<div>
		<h1>Register new Empoloyee</h1> 		
	</div>

	<a href="/homead"> Back</a> |
	<a href="/logout"> logout</a><br>

	<form method="post">
		<table>
			<tr>
				<td>Brand Name</td>
				<td><input type="text" name="brand" value=""></td>
			</tr>
			<tr>
				<td>Model</td>
				<td><input type="text" name="model" value=""></td>
			</tr>
			<tr>
				<td>Category</td>
				<td><select id="cars" name="categories">
				<option value="category">Categories</option>
  				<option value="private">Private Cars</option>
 				<option value="micro">Micro Bus</option>
  				<option value="pickup">Pick-up</option>
				</select></td>
			</tr>
			
				<td><input type="submit" name="submit" value="Add"></td>
			</tr>
		</table>
	</form>
</body>
</html>