<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>
	<h1>Registration Page</h1>
	<form method="post">
		Employee Name: <input type="text" name="ename" > <br>	
		Username: <input type="text" name="uname" > <br>
		Contact no: <input type="text" name="contact" > <br>
		Password: <input type="password" name="password" ><br>
		Confirm Password: <input type="password" name="cpassword" ><br>
		<input type="submit" name="submit" value="Submit" >
	</form>
</body>
</html>